:root {
  --text-primary: white;
  --bg-primary: #2c2c2c;
  --text-secondary: #b3b3b3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  background-color: var(--bg-primary);

 
}

.divisor{
  background: linear-gradient(90deg, #2ad1f8 2.62%, #8a58b9 93.38%);
  width:80vw;
  height: 5px;
}
